<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cislv95rbdy4</key>
	<dict>
		<key>01gift_original_test</key>
		<dict>
			<key>exp</key>
			<string>225_520</string>
			<key>varias</key>
			<string>01gift_test2</string>
		</dict>
		<key>active_marching_touch1</key>
		<dict>
			<key>exp</key>
			<string>181_389</string>
			<key>varias</key>
			<string>D</string>
		</dict>
		<key>bisols</key>
		<array>
			<string>10_0</string>
		</array>
		<key>cardpackage_popup</key>
		<dict>
			<key>exp</key>
			<string>223_513</string>
			<key>varias</key>
			<string>cardpackage_test3</string>
		</dict>
		<key>channel_exp_0816</key>
		<dict>
			<key>exp</key>
			<string>198_444</string>
			<key>varias</key>
			<string></string>
		</dict>
		<key>chat_card_quantity_exp</key>
		<dict>
			<key>exp</key>
			<string>192_431</string>
			<key>varias</key>
			<string>chat_card_quantity1</string>
		</dict>
		<key>exps</key>
		<array>
			<string>173_367</string>
			<string>209_472</string>
			<string>229_539</string>
			<string>233_547</string>
			<string>236_555</string>
			<string>227_533</string>
			<string>198_444</string>
			<string>200_448</string>
		</array>
		<key>fake_match_cache_recall</key>
		<dict>
			<key>exp</key>
			<string>236_555</string>
			<key>varias</key>
			<string>2</string>
		</dict>
		<key>friends_page</key>
		<dict>
			<key>exp</key>
			<string>240_563</string>
			<key>varias</key>
			<string>new_friends_page</string>
		</dict>
		<key>gc1</key>
		<dict>
			<key>exp</key>
			<string>169_360</string>
			<key>varias</key>
			<string></string>
		</dict>
		<key>gisols</key>
		<array/>
		<key>guangchang</key>
		<dict>
			<key>exp</key>
			<string>164_350</string>
			<key>varias</key>
			<string>1</string>
		</dict>
		<key>home_screen_1</key>
		<dict>
			<key>exp</key>
			<string>162_346</string>
			<key>varias</key>
			<string>2</string>
		</dict>
		<key>homepage_live_order_2</key>
		<dict>
			<key>exp</key>
			<string>233_547</string>
			<key>varias</key>
			<string>live_new_rank</string>
		</dict>
		<key>nearby_user_srp_rec</key>
		<dict>
			<key>exp</key>
			<string>209_472</string>
			<key>varias</key>
			<string>A</string>
		</dict>
		<key>new_account_gc_exp</key>
		<dict>
			<key>exp</key>
			<string>172_365</string>
			<key>varias</key>
			<string></string>
		</dict>
		<key>newtopup_test</key>
		<dict>
			<key>exp</key>
			<string>196_440</string>
			<key>varias</key>
			<string>newtopup_nonexposure</string>
		</dict>
		<key>old_account_gc_exp</key>
		<dict>
			<key>exp</key>
			<string>173_367</string>
			<key>varias</key>
			<string></string>
		</dict>
		<key>push_batch</key>
		<dict>
			<key>exp</key>
			<string>170_362</string>
			<key>varias</key>
			<string></string>
		</dict>
		<key>recallpush_chat</key>
		<dict>
			<key>exp</key>
			<string>230_541</string>
			<key>varias</key>
			<string>recallpush_chat_B</string>
		</dict>
		<key>recharge_page</key>
		<dict>
			<key>exp</key>
			<string>220_502</string>
			<key>varias</key>
			<string>recharge_page_old</string>
		</dict>
		<key>recharge_ui</key>
		<dict>
			<key>exp</key>
			<string>242_567</string>
			<key>varias</key>
			<string>new_recharge_ui</string>
		</dict>
		<key>redenvelope_test</key>
		<dict>
			<key>exp</key>
			<string>245_573</string>
			<key>varias</key>
			<string>redenvelope_newB</string>
		</dict>
		<key>redpacket_test</key>
		<dict>
			<key>exp</key>
			<string>218_496</string>
			<key>varias</key>
			<string>redpacket_new</string>
		</dict>
		<key>stringing_test</key>
		<dict>
			<key>exp</key>
			<string>229_539</string>
			<key>varias</key>
			<string>stringing_newB</string>
		</dict>
		<key>tess_exp</key>
		<dict>
			<key>exp</key>
			<string>200_448</string>
			<key>varias</key>
			<string></string>
		</dict>
		<key>tongchengjiaoyou_rerank_exp</key>
		<dict>
			<key>exp</key>
			<string>227_533</string>
			<key>varias</key>
			<string>B</string>
		</dict>
	</dict>
</dict>
</plist>
